 .header__nav{
    display: flex;
    align-items: center;
    
    min-height: 60px;

    @media screen and (min-width: 768px){
        height: 80px;
        
    }
    @media screen and (min-width: 768px) and (max-width: 1140px){
        width: 768px;
    }
}

.nav__list{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    // margin-right: auto;

    

    @media screen and ( min-width: 768px) and (max-width: 1140px){
        margin-right: 96px;
    }

    @media screen and ( min-width: 768px){
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 767px){
        margin-bottom: 300px;
    }

    @media screen and (max-width: 767px){
        margin-bottom: 250px;
    }
}

.nav__item{
    &:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 50px;
        }
    }
}
.nav__item:not(:last-child){
    // margin-right: 50px;
}

.nav__link{
    text-decoration: none;
    // position: relative;
    font-weight: 500;
    // line-height: 1.4;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px){
        position: relative;
    }
    @media screen and (max-width: 767px){
        font-style: normal;
        font-size: 40px;
        line-height: calc(47 / 40);
    }
}

//     /*----- current page navigation text color ------*/

.nav__link--current{
    @media screen and (min-width: 768px){
        color: $accent-color;

        &::after{
            color: $accent-color;
            content: '';
            width: 100%;
            height: 4px;
            display: inline-block;
            background-color: $accent-color;
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(33px);
            pointer-events: none;
            opacity: 1;
        }
    }
    @media screen and (min-width: 320px){
        color: $accent-color;
    }
}
// mobile menu container
.nav__mobile-menu{
    &.is-open{
       display: block;
    }
    @media screen and (min-width: 768px){
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width: 767px){
        position: absolute;
        padding: 48px 0px 48px 40px;
        width: 480px;
        height: 796px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        background-color: $background-color-4;

        z-index: 9998;
        display: none;
    }
    @media screen and (max-width: 479px){
        padding: 60px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        display: none;
    }
}

.nav__mobile-social-links{
    @extend %margin-padding;
    display: flex;
    list-style: none;

    @media screen and (min-width: 767px){
        display: none;
    }
    @media screen and (max-width: 479px){
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.mobile-social-links__item{
    &:not(:last-child){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child){
        padding-left: 10px;
    }

    &:last-child{
        //margin-top: 10px;
    }
}

.mobile-social-links__link{
    padding-right: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    letter-spacing: 0.02em;

    color: $accent-color;
    text-decoration: none;
}
// mobile menu button

.nav__burger-btn{
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: auto;
    position: relative;
    color: $accent-color;
    background-color: $background-color-4;
    border: 0;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $tra;

    z-index: 9999;
    &:hover,
    &:focus{
        fill: currentColor;
    }

    @media screen and (min-width: 767px){
        display: none;
    }
    
}

.nav__burger-svg{
    width: 100%;
    height: 100%;

    .nav__burger-btn.is-open &{
        display: none;
    }
}

.nav__exit-svg{
    display: none;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.is-open{
        display: block;
    }
}