.main-features__header{
    visibility: hidden;
    position: absolute;
}

.main-features__list{
    // display: flex;
    list-style: none;
    // gap: 30px;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (max-width: 767px){
        width: 100%;
    }
}

.main-features__list-item{
    background-repeat: no-repeat;
    background-position: center;
    
    @media screen and (min-width: 1141px) {
        width: 270px;
    }
    @media screen and (max-width: 1140px) {
        width: 354px;
    }

    @media screen and (max-width: 767px){
        width: 100%;
        margin-bottom: 30px;
    }
}

.item__div{
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $background-color-3;
    @media screen and (max-width: 1140px) {
        width: 354px;
    }

    @media screen and (max-width: 767px){
        width: 100%;
    }
   
}

.item__svg{
    width: 70px;
    height: 70px;
}

.item__title{
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px){
        text-align: center;
    }
}

.item__text{
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.71;
}