$primary-text-color: #757575;
$primary-header-color: #212121;
$secondary-text-color: #FFFFFF;
$accent-color: #2196F3;
$background-color-1: #ECECEC;
$background-color-2: #2F303A;
$background-color-3: #F5F4FA;
$background-color-4: #FFFFFF;
$portfolio-border-color: #EEEEEE;
$text-rgba-color: rgba(255, 255, 255, 0.6);
$border-color-black: #000000;
$border-color-grey: #AFB1B8;
$tra: cubic-bezier(0.4, 0, 0.2, 1);